<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App - Room</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="styles/room.css">
</head>

<body>
    <div class="message-container">
        <div><%= room.name %></div>

        <!-- Display exisiting messages from the datatbase -->
        <% room.messages.forEach(message => { %>
            <div><%= message.message %></div>
        <% }) %>
    </div>

    <!-- Send message -->
    <form action="/<%= room._id %>" method="POST">
        <input type="text" id="messageInput" name="message">
        <button type="submit">Send</button>
    </form>





    <script src="/socket.io/socket.io.js"></script>


    <script>
        
        var socket = io()
        var room_id = "<%= roomId %>"

        function appendUserMessage(msg) {
            $('.message-container').append(`<div id="userMessage">${msg}</div>`)
        }

        function appendMessage(msg) {
            $('.message-container').append(`<div id="message">${msg}</div>`)
        }

        var name = prompt('please enter your name: ')
        appendMessage("You joined") 
        
        socket.emit('join-room', room_id, name)

        socket.on('user-connected', name => {
            appendUserMessage(name + " joined")
        })

        socket.on('user-disconnected', name => {
            appendUserMessage(name + " disconnected")
        })

        socket.on('chat-message', (data) => {
            console.log(data.message);
            appendUserMessage(`${data.name}: ${data.message}`)
        })

        $('form').on('submit', (e) => {
            e.preventDefault()
            var message = $('input').val()
            socket.emit('send-chat-message', message)

            appendMessage(`You: ${message}`)

            $.post('/<%= room._id %>', {
                message: message
            })

            $('form').trigger("reset");
        })

    </script>
</body>
</html>