<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App - Room</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="styles/room.css">
</head>

<body>
    <nav>
        <div class="nav-main">
            <img src="/img/logo.png" alt="">
            <a href="/">ChatApp</a>
        </div>

        <div id="roomName"><h2><%= room.name %></h2></div>

        <div class="nav-options">
            <ul>
                <li><a href="/myrooms">My rooms</a></li>
                <li><a href="/create">Create room</a></li>
                <li><a id="leave-room" href="/myrooms"><button>Leave</button></a></li>
            </ul>
        </div>
    </nav>

    <div class="message-container">
        <!-- Display exisiting messages from the datatbase -->
        <% room.messages.forEach(message => { %>
            <div id="message"><h3><%= message.message %></h3></div>
        <% }) %>
    </div>

    <!-- Send message -->
    <form action="/<%= room._id %>" method="POST" autocomplete="off">
        <input type="text" id="messageInput" placeholder="Type something..." name="message">
        <button type="submit">Send</button>
    </form>





    <script src="/socket.io/socket.io.js"></script>


    <script>
        
        var socket = io()
        var room_id = "<%= roomId %>"

        function appendUserMessage(msg) {
            $('.message-container').append(`<div id="userMessageContainer"><div id="userMessage"><h3>${msg}</h3></div></div>`)
        }

        function appendMessage(msg) {
            $('.message-container').append(`<div id="message"><h3>${msg}</h3></div>`)
        }

        // var name = prompt('please enter your name: ')
        var name = "<%= name %>"
        appendMessage("You joined") 
        
        socket.emit('join-room', room_id, name)

        socket.on('user-connected', name => {
            appendUserMessage(name + " joined")
        })

        socket.on('user-disconnected', name => {
            appendUserMessage(name + " disconnected")
        })

        socket.on('chat-message', (data) => {
            console.log(data.message);
            appendUserMessage(`${data.name}: ${data.message}`)
        })

        $('form').on('submit', (e) => {
            e.preventDefault()
            var message = $('input').val()
            socket.emit('send-chat-message', message)

            appendMessage(`You: ${message}`)

            $.post('/<%= room._id %>', {
                message: message
            })

            $('form').trigger("reset");
        })

    </script>
</body>
</html>